POSTGRES_DB=stamina
POSTGRES_USER=stamina
POSTGRES_PASSWORD=stamina_dev_password

JAVA_BACKEND_PORT=8080
TRADING_CORE_PORT=8000
FRONTEND_PORT=5173

ETORO_API_BASE_URL=https://api.example-etoro.local
ETORO_API_KEY=replace_me
ETORO_ACCOUNT_ID=replace_me

VITE_USERS_CONFIG_API_URL=http://localhost:8080
